html {
  font-size: 50px;
}

#mobileheader {
  flex:1;
  background: #f6f6f6;
}

#mobileheader header {
  border-bottom: 1px solid #2db7f5;
  padding-left: 10px;
}

#mobileheader header img {
  width: 50px;
  height: 50px;
  padding: 5px 0 0 0;
}

#mobileheader header span {
  vertical-align: top;
  padding-left: 5px;
  font-size: 35px;
  color: #2db7f5;
}

#mobileheader i{
  font-size: 0.5rem;
  color: #2db7f5;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  float: right;

}

#mobilefooter {
  text-align: center;
}

.m_news_block {
  width: 100%
  font-size: 14px;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0.3rem;
  background: #eee;
}

.m_img_block {
  height: 70px;
  float: left;
}

.m_img_block img {
  height: 70px;
}

.m_info_block {
  width: 245px;
  float: right;
}

.m_info_block .m_info_title {
  height: 40px;
  font-size: 0.34rem;
  line-height: 20px;
  color: #404040;
   display:-webkit-box;-webkit-line-clamp:2;overflow:hidden;-webkit-line-break:auto;-webkit-box-orient:vertical;
}

.m_info_block .m_info_desc {
  padding-top: 20px;
}

 .m_info_block .m_info_desc .m_info_type{
  padding: 2px;
  margin-right: 0.1rem;
  display:  inline-block;
  font-size: 12px;
  line-height: 12px;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
}

.m_info_block .m_info_desc .m_info_date {
  font-size: 0.24rem;
  margin-left: 5px;
  color: #666;

}

.mobileNewsDetail .detailContainer {
  padding: 20px;
}

.mobileNewsDetail .detailContainer .newsArticle {
  margin-bottom: 20px;
}

.mobileNewsDetail .detailContainer .commentContainer {
  margin-top: 20px;
  text-align: center;
}

.mobileNewsDetail .detailContainer .commentContainer .ant-card{
  text-align: left;
}

.mobileNewsDetail .detailContainer .commentContainer .ant-form-item-label {
  font-size: 15px;
}

.mobilePortraitSetting .ant-modal-content {
  margin: 0 auto;
  width: 60%;
}

.mobilePortraitSetting .ant-modal-body {
  text-align: center;
}
