.logo{
  align-items: center;
  display: flex;
}

.logo img{
  width: 48px;
  height: 48px;
}

.logo span{
  font-size: 24px;
  padding-left: 5px;
}

.footer {
  text-align: center;
}

.container{
  margin-top: 10px;
}


.leftContainer {
  width: 400px;
  float: left;
}

.carousel{
  float: left;
  width: 400px;
  height: 240px;
}

.carousel img{
  width: 400px;
  height: 240px;
}

.ant-carousel .slick-slider .slick-list .slick-track{
  height: 240px;
}

.tabs_news {
  width: 460px;
  float: left;
  margin-left: 20px;
}

.tabs_product {
  width: 300px;
  float: right;
}

.tabs_product .productList {
  height: 657px;
  overflow: hidden;
  margin-top: 10px;
}

.topNewsList {
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 10px;
}

.topNewsList .newsItem{
  float: left;
}

.topNewsList .custom_image {
  padding-left: 15px;

}

.topNewsList .custom_card {
  padding: 15px
}

.topNewsList .newsTitle {
  margin-top: 10px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PCNewsDetail .detailContainer {
  padding: 20px;
}

.PCNewsDetail .detailContainer .newsArticle {
  margin-bottom: 20px;
}

.PCNewsDetail .detailContainer .commentContainer {
  margin-top: 20px;
  text-align: center;
}

.PCNewsDetail .detailContainer .commentContainer .ant-card{
  text-align: left;
}

.PCNewsDetail .detailContainer .commentContainer .ant-form-item-label {
  font-size: 15px;
}

.PCHeader .ant-menu-item .centerButton {
  display: inline-block;
}

.PCPortraitSetting .ant-modal-content {
  margin: 0 auto;
  width: 50%;
}

.PCPortraitSetting .ant-modal-body {
  text-align: center;
}
